<div id="<%= dom_id operational_state %>">
  <p>
    <strong>Name:</strong>
    <%= operational_state.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= operational_state.description %>
  </p>

</div>
