# ~/.env.development.local.example
# Timezone, Locale
TZ=Europe/Berlin
LOCALE=en

# generate key with bin/rails secret
SECRET_KEY_BASE=###################################

# -- redis
REDIS_URL=redis://localhost:6379

# -- postgres
POSTGRES_USER=cocard
POSTGRES_PASSWORD=########################################
POSTGRES_HOST=localhost

# -- for testing
SDS_IP=10.200.149.3
SDS_URL=http://10.200.149.3/connector.sds
CONN_MANDANT=MyMandant
CONN_CLIENT_SYSTEM_ID=MyApp
CONN_WORKPLACE_ID=MyWorkplace

CLIENT_CERT_FILE=cert.pem
CLIENT_PKEY_FILE=pkey.pem
CLIENT_CERT_PASSPHRASE=verystrongsecret
