<% if action.present? %>
  <%= button_to(action,
                method: :post,
                title: title,
                class: button_class ) do %>
    <%= icon %>
  <% end %>
<% else %>
  <button type="button" class="<%= button_class %>" disabled>
    <%= icon %>
  </button>
<% end %>

