<div id="reboot_<%= dom_id(item) %>" class="d-inline-flex mx-3">
  <% if item.rebooted? %>
    <button class="btn btn-danger" type="button" disabled>
      <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
      <span class="visually-hidden" role="status">stay tuned...</span>
    </button>
  <% else %>
    <%= button_to( polymorphic_path([:reboot, item]),
                   method: :post,
                   title: t('cocard.reboot'),
                   class: "btn btn-danger",
                    form: {
                      data: {
                        "turbo-confirm": t('do_reboot', scope: item.class.name.underscore.pluralize)
                      }
                    }) do %>
      <i class="fa-solid fa-power-off"></i>
    <% end %>
  <% end %>
</div>
