<div id="<%= dom_id ti_client %>">
  <p>
    <strong>Connector:</strong>
    <%= ti_client.connector_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= ti_client.name %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= ti_client.url %>
  </p>

</div>
