<div id="<%= dom_id network %>">
  <p>
    <strong>Netzwerk:</strong>
    <%= network.netzwerk %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= network.description %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= network.location_id %>
  </p>

</div>
