<div id="reboot_<%= dom_id(connector) %>" class="d-inline-flex mx-3">
  <%= button_to( reboot_connector_path(connector),
                 method: :post,
                 title: t('cocard.reboot'),
                 class: "btn btn-danger",
                  form: {
                    data: {
                      "turbo-confirm": t('connectors.do_reboot')
                    }
                  }) do %>
    <i class="fa-solid fa-power-off"></i>
  <% end %>
</div>

