<div id="<%= dom_id context %>"
     class="list-group-item " >
  <div class="row">
    <div class="col handle pt-1">
      <%= context %>
    </div>
    <% if @card.card_type == 'SMC-B' %>
      <div class="col-sm-3 text-muted text-end">
        <%= render Card::GetPinStatusComponent.new(card: @card, context: context) %>
      </div>
    <% end %>
  </div>
</div>
