<div class="list-group mb-3">
  <%# render partial: 'cards/contexts/context', 
             collection: card.contexts, as: :context %>
  <% if card.context.present? %>
    <%= render partial: 'cards/contexts/context', locals: { context: card.context } %>
  <% end %>
</div>
