<%= render FormComponent.new(title: t('wobapphelpers.actions.edit', 
                             model: t('controller.idle_messages'))) do %>
  <%= render 'form' %>
<% end %>

<div class="container mt-3">
  <div class="card">
    <div class="card-header">
      <h5>Legende</h5>
    </div>
    <div class="card-body">
      <%= render 'help' %>
    </div>
  </div>
</div>
