<% if can? :navigate, :cards %>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle <%= active_class('cards') %>"
       href="#" id="navbarCardDropdown" data-bs-toggle="dropdown" 
       aria-haspopup="true" aria-expanded="false">

      <%= t('controller.cards') %>
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarCardDropdown">
      <%= link_to raw( '<span class="fas fa-fw fa-table" aria-hidden="true"></span> ' +
            t('controller.cards')),
          main_app.cards_path, class: "dropdown-item" %>
      <% if can? :create, Card %>
        <%= link_to raw('<span class="fas fa-fw fa-plus" aria-hidden="true"></span> ' +
                        t('cocard.new_card')),
              main_app.new_card_path,
              class: "dropdown-item" %>
      <% end %>

    </div>
  </li>
<% end %>


