<form class="d-flex m-auto" role="search" action="<%= main_app.search_url %>">
  <input class="form-control me-2" type="search" name="query" 
         placeholder="<%= t('form.search.placeholder') %>" aria-label="Search">
</form>
