<ul class="navbar-nav">
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarInfoLink" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= icon_info %>
    </a>
    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarInfoLink">
      <a class="dropdown-item" href="<%= main_app.root_path + 'docs/cocard/index.html' %>" target='_blank'><i class="fas fa-fw fa-book"></i> Dokumentation</a>
    </div>
  </li>
</ul>

