<%= turbo_stream_from :home_index %>
<div class="container-xl">

  <div class="card mt-3">
    <div class="card-header">
      <div class="d-flex">
        <h4 class="me-4 pt-1">Connector Status</h4>
        <%= render 'connector_states' %>
      </div>
    </div>
    <div>
      <%= render 'connectors', connectors: @connectors %>
    </div>
  </div>
</div>
