<%= turbo_stream_from :verify_pins %>

<div class="container-fluid" id="verify_pin_index">
  <% @connectors.each do |conn| %>
    <div class="card mb-3">
      <div class="card-header">
        <h5 class="card-title"><%= conn.name %></h5>
      </div>
      <div class="card-body">
        <% (conn.card_terminals & @card_terminals).each do |ct| %>
          <%= render partial: 'card_terminal', locals: { ct: ct, cards: @cards } %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
