<div id="<%= dom_id card_terminal %>">
  <p>
    <strong>Displayname:</strong>
    <%= card_terminal.displayname %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= card_terminal.location_id %>
  </p>

</div>
