<table class="table table-sm table-borderless">
  <tr>
    <th class="w-10 pe-3"><%= t('attributes.name')%>:</th>
    <td><%= ti_client.name %></td>
  </tr>

  <tr>
    <th class="w-10 pe-3"><%= t('attributes.url')%>:</th>
    <td><%= ti_client.url %></td>
  </tr>
</table>
