<%= turbo_stream_from @connector %>
<div class="container-fluid">
  <% if @connector.notes.active.current.count > 0 %>
    <div class="row">
      <div class="col-xl-10">
        <%= render partial: 'show' %>
      </div>
      <div class="col-xl">
        <div class="mb-3"> 
          <%= turbo_frame_tag("notes", src: sindex_connector_notes_path(@connector), 
                                       refresh: "morph") %>
        </div>
      </div>
    </div>
  <% else %>
    <%= render partial: 'show' %>
  <% end %>
</div>


