<% if @kt_proxies.present? %>

  <h2 class="mx-2"> Erfolgreich abgeglichene KTProxys </h2>
  <ul class="list-group mt-3">
    <%= render partial: 'kt_proxies/kt_proxy', collection: @kt_proxies, as: 'kt_proxy' %>
  </ul>

<% end %>


<% if @err_proxies.present? %>

  <h2 class="mx-2">Nicht erfolgreicher Abgleich</h2>
  <% @err_proxies.each do |errp| %>
    <pre>
      <%= errp.inspect %>
    </pre>
  <% end %>

<% end %>

<br/>
<%= back_link %>
