<div id="<%= dom_id connector_context %>"
     class="list-group-item"
     data-sortable-target="item" 
     data-url="<%# connector_context_path(connector_context) %>" 
>
  <span><%= connector_context.context %></span>
</div>
