<div id="<%= dom_id connector_context %>"
     class="list-group-item list-group-item-action"
     data-sortable-target="item" 
     data-url="<%= connector_context_path(connector_context) %>" 
>
  <div class="row">
    <div class="col handle"><%= connector_context.context %></div>
    <div class="col-sm-1">
        <%= button_to(test_context_connector_path(connector_context.connector),
                     method: :post,
                     title: "Test eines Kontextes",
                     class: "btn btn-secondary btn-sm",
                     params: {
                       context: {
                         mandant: connector_context.context.mandant,
                         client_system: connector_context.context.client_system,
                         workplace: connector_context.context.workplace
                       }
                     }
            ) do %>
        <i class="fa-solid fa-fw fa-clipboard-question"></i>
      <% end %>

    </div>
  </div>

</div>
