<div id="<%= dom_id connector_context %>"
     class="list-group-item"
     data-sortable-target="item" 
     data-url="<%# connector_context_path(connector_context) %>" 
>
  <div class="row">
    <div class="col handle"><%= connector_context.context %></div>
    <div class="col-sm-3 text-muted text-end">
      <%=connector_context.position %>
    </div>
  </div>

</div>
